// TODO - consider compass, bootstrap, foundation
$background: white;
body {
  //background: lightslategray;
}
.leftContainer {
  float: left;
  height: 99vh;
  position: fixed;
}
.cardSlider {
  width: 100%;
  button {
    display: block;
    margin: 0 auto;
    width: 100px;
  }
}
.gradeOptions {
  display: block;
}
.grade {
  border: 1px solid $background;
  float: left;
  height: 350px;
  margin-top: 20px;
  text-align: center;
  width: 223px;
}
.letter-grade {
  //margin-top: -20px;
  width: 20px;
  margin: 0 auto;
}
#currentCard {
  border-radius: 10px;
  cursor: move;
  width: 223px;
}
.currentGrade {

}
.rightContainer {
  border: 1px solid black;
  float: right;
  margin: 50px 20px 50px 0;
  overflow: auto;

  ul {
    list-style: none;
    padding: 15px;

    li:hover {
      background-color: lightgray;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .currentCard {
    background-color: lightslategray;
    border-radius: 5px;
  }
}
// Drag and drop
//   When dragging over a droppable region
.over {
  border: 1px solid black;
}
